{% block content %}
{% load staticfiles %}	
    <div class="container">
    	<div class="row">
    		<div class="col-1"><a href="#"><img src="{% static 'home/glyphicons-social/png/glyphicons-social-31-facebook.png' %}" class="responsive-img" style='max-height:30px;' alt="fb"></a></div>
	    	
	    	<div class="col-1"><a href="#"><img src="{% static 'home/glyphicons-social/png/glyphicons-social-33-instagram.png' %}" class="responsive-img" style='max-height:30px;' alt="insta"></a></div>

	    	<div class="col-1"><a href="#"><img src="{% static 'home/glyphicons-social/png/glyphicons-social-23-youtube.png' %}" class="responsive-img" style='max-height:30px;' alt="youtube"></a></div>
	    	
	    	<div class="col-1"><a href="#"><img src="{% static 'home/glyphicons-social/png/glyphicons-social-28-spotify.png' %}" class="responsive-img" style='max-height:30px;' alt="spotify"></a></div>
	    </div>
    </div>
{% endblock content %}