{% block content %}
    
    	<h4>Welcome!</h4>
    	<p>
    		This site has been bulit to help you and others like us, that love music, help us to get better at what we do by getting inspiring knowlege together in one place. The aim is to have easy accessable video tutorials, chorous, lyrics and other great material that can help you and other musicians get better at what we do, wether we're just starting out or are pro's improving our skills. 

    		Our goal is to help people discover the magic of playing and performing music, and being a part of creating the rock-stars of tomorrow. 

    	</p>
    {% endblock content %}